* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topo, .rodape {
    background-color: #1d6e4d;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.limita-largura {
    width: 100%;
    margin: 15px auto;
    min-width: 320px;
    max-width: 1024px;
}

.area {
    width: calc(100% - 70px);
    margin: 20px 35px;
}

.apresentacao img, .area p, .area-tres-imagens {
    width: 100%;
    margin: 15px 0;
}

.area-tres-imagens {
    display: flex;
}

.galeria img {
    width: calc((100% / 3) - 3px);
    margin: 0 1.5px;
}

